/* app css stylesheet */
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/* import fonts */
@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans_light_macroman/OpenSans-Light-webfont.eot');
    src: url('fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chunkfiveroman';
    src: url('fonts/chunkfive/chunkfive-webfont.eot');
    src: url('fonts/chunkfive/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chunkfive/chunkfive-webfont.woff') format('woff'),
         url('fonts/chunkfive/chunkfive-webfont.ttf') format('truetype'),
         url('fonts/chunkfive/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

 /* let's go */
body, html
{
    padding: 0;
    font-size: 24px;
    margin:0;
}

body *
{
    font-family: 'open_sanslight' , sans-serif;
}

.hidden
{
    display: none;
}


h1
{
    font-weight: lighter;
    font-size: 150px;
    margin: 10px 0;
}

h1, h2 
{
    text-align:center;
    margin:0;
    font-family:'chunkfiveroman', sans-serif;
    color:#444;
}

h2 
{
    font-size:50px;
    margin-top:-30px;
    color:#666
}

h3
{
    font-weight:normal;
    color:#333;
    margin: 0.5em 0 0;
    overflow: hidden;
    line-height: 1.5em;
    padding:5px;
    position: absolute;
    font-size: 17px;
    bottom: 0;
    max-width: 350px;
    background: #ccc;
    opacity: .8;
    width: 100%;
    cursor:pointer;

}

    .major li:first-child h3 
    {
        margin: 0.5em 0 0;
        overflow: hidden;
        line-height: 1.5em;
        position: relative;
        font-size: 24px;
        opacity:1;
        background:transparent;
        max-width:100%;
    }


.wrapper
{
    padding: 0 2% 2% 2%;
}

/* header */
.header-bar {
    width: 100%;
    height: 30px;
    background: #ff6a00;
}

    .header-bar a {
        float: right;
        font-size: 0.5em;
        margin: 3px 4px 0 0;
        padding: 3px 4px 2px;
        color: #fff;
        text-decoration: none;
        background: rgba(255,255,255,.3);
        border-radius: 2px;
        border: 1px solid #ff6a00;
    }

    .header-bar a:hover {
        color: #eee;
        text-decoration: none;
        background: rgba(255,255,255,.4);
    }


/* list */
.video-ul
{
    padding: 0;
    list-style-type: none;
    max-width:1500px;   
    margin:25px auto;
    overflow: hidden;
}


    .video-ul li
    {
        width: 30.33333333%;
        margin: 1.5%;
        text-align:center;
        float:left;
        padding-bottom:14px;
        position:relative;
    }

        .video-ul li:hover h3 {
            color: #ff6a00;
            background: #333;
        }

            .video-ul.major li:first-child:hover h3 {
                background: #fff;
            }

        .video-ul li a
        {
            display: block;
            cursor: pointer;
            overflow: hidden;
    
        }

        .video-ul li img
        {
            width: 100%;
            max-width: 350px;
            margin: -9.5% 0 -11.5%;
        }


.attrib 
{
    margin:0;
    text-align:right;
    font-size:14px;

}


.video-ul.major li:first-child 
{
    width:100%;
    height:auto;
    margin:0;
}

.video-ul.major li:first-child .inner-wrap 
{
    width:80%;
    max-width:480px;
    margin:0 auto;
    padding-top:25px;
}

.video-ul.major li:first-child img 
{
    width:auto;
    height:auto;
    max-width:480px;
    margin:-9.3% 0 -10.8% 0;
}



.inner-wrap 
{
    max-width:350px;
    margin:0 auto;
    position:relative;
}


.frame-wrapper {
    width: 80%;
    max-width:720px;
}

    .frame-wrapper-inner 
    {    
        position: relative;
        padding-bottom: 50.5%;
        padding-top: 25px;
        height: 0;
    }
    
    .frame-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

   
.ad-wrapper {
    max-width: 96%;
    position: relative;
    margin: 0 auto
}

.adsbygoogle ins + iframe {
    left: -7px;
}

.adsbygoogle > ins {
    display: block!important;
    margin: 0 auto!important;
}
/** responsive **/

@media screen and (max-width:767px) 
{
    

    h1 
    {
        font-size:70px;
    }
    h2 
    {
        font-size:30px;
        margin-top:-15px;
    }    
    
    .video-ul li
    {
        width: 47%;
        margin: 1.5%;
        text-align:center;
    }

    .video-ul 
    {
        max-width:100%;   
        margin:25px auto;
        }
        
.video-ul.major li:first-child img 
{
    width:100%;
}        
        
}

@media screen and (max-width:480px) 
{
    

     h2 
    {
        font-size:20px;
    }    

    
    
    .video-ul li
    {
        width: 80%;
        margin: 20px 10%;
        text-align:center;
    }



    .video-ul 
    {
        max-width:100%;   
        margin:25px auto;
        }
}

@media screen and (max-width:320px) 
{
    h1 
    {
        font-size:60px;
    }
    h2 
    {
        font-size: 25px;
        margin-top:-10px;
    }
}